.main-container {
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 1.5rem;

  .top-nav-bar {
    height: 3rem;
    flex-direction: row;
    width: 100%;
  }
  .map-view-container {
    height: calc(100dvh - 7.5rem);
    width: 100%;
    .weather-data-wrapper {
      position: absolute;
      right: 5rem;
      width: 25rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      top: 0;
      cursor: pointer;
      img {
        height: 100%;
        animation: fade-in 2s ease forwards;
        &.missing-icon {
          width: 6rem;
          border: 1px solid $text-secondary;
          height: 6rem;
          padding: 1rem;
          border-radius: 10%;
          margin-right: 0.5rem;
        }
      }
      .temp-data {
        font-size: 5rem;
        color: $text-primary;
        font-weight: 600;
        animation: fade-in 2s ease forwards;
      }
      .weather-tooltip {
        color: $text-primary;
        position: absolute;
        border: 1px solid $text-primary;
        bottom: -1rem;
        font-size: 1rem;
        z-index: 9;
        padding: 0.25rem 1rem;
        border-radius: 40px;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
      &:hover {
        .weather-tooltip {
          opacity: 1;
        }
      }
    }
  }
  .footer-bar {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 0.9rem;
    span {
      color: $text-secondary;
    }
  }
}
section {
  &.forcast {
    min-height: 100dvh;
    box-sizing: border-box;
    padding: 5rem 1.5rem;
    width: 100%;
    position: relative;
    .forcast-title {
      position: sticky;
      top: 0;
      height: 5rem;
      display: flex;
      align-items: flex-end;
      background-color: $bgcolor;
      h3 {
        top: 2rem;
      }
    }
    .forcast-content {
      margin-top: 3rem;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: $bgcolor;
}
::-webkit-scrollbar-thumb {
  background: $text-primary;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: $text-secondary;
}

@import '@/styles/map';
@import '@/styles/navbar';
@import '@/styles/loader';
