.main-container {
  height: 100dvh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 1.5rem;

  .top-nav-bar {
    height: 3rem;
    flex-direction: row;
    width: 100%;
  }
  .map-view-container {
    height: calc(100dvh - 7.5rem);
    width: 100%;
    .weather-data-wrapper {
      position: absolute;
      right: 5rem;
      width: 25rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      top: 0;
      img {
        height: 100%;
        animation: fade-in 2s ease forwards;
      }
      .temp-data {
        font-size: 5rem;
        color: $text-primary;
        font-weight: 600;
        animation: fade-in 2s ease forwards;
      }
    }
  }
  .footer-bar {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 0.9rem;
    span {
      color: $text-secondary;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@import '@/styles/map';
@import '@/styles/navbar';
@import '@/styles/loader';
